body {
    background-color: bisque;
}

h1 {
    font-family: serif;
    color: blue;
}

h2 {
    font-family: serif;
    color: blue;
}

p {
    font-family: serif;
}

figure figcaption {
    text-align: center;
}